<!DOCTYPE html>
<html lang="fr" class="no-js">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mathéo Crepieux</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/css/vendor.css">
    <link rel="stylesheet" href="../../static/css/styles.css">



</head>

<body>
    <section id="Admin1" class="s-about target-section">

        <div class="row s-about__content">
            <div class="column xl-12">

                <div class="section-header" data-num="01">
                    <h1 class="text-display-title">Connecter - Niveau 1</h1>
                </div> <!-- end section-header -->
                <h2>SAE 14</h2>
                <h3>Contexte</h3>
                <p class="attention-getter">
                    Vous devez crée une page web pour présenter votre portfolio.
                    Cette page web doit contenir les informations suivantes
                </p>
                <ul>
                    <li>Votre nom et prénom</li>
                    <li>Votre photo</li>
                    <li>Une description de vous-même</li>
                    <li>Vos compétences</li>
                    <li>Vos expériences professionnelles</li>
                    <li>Vos formations</li>
                    <li>Vos centres d’intérêts</li>
                </ul>
                <h2>SAE 15</h2>
                <h3>Contexte</h3>
                <p class="attention-getter">
                    L’objectif de la SAE15 est de prouver que vous êtes capable de récupérer des données sur un réseau,
                    de les transformer dans un format cible après avoir réalisé des calculs et de les transmettre sur un
                    serveur web. Et ceci doit se faire de façon automatisée !
                </p>
                <h3>Missions</h3>
                <p class="attention-getter">
                    Vous devez réaliser un « script » capable de récupérer des données, au format CSV, sur le site
                    https://www.data.gouv.fr/. Les données seront ensuite agrégées (calcul de moyennes, maximum,
                    filtrage…), puis transformées au format JSON afin de les transmettre à un site web qui vous les
                    affichera au format graphique. Le choix des données à traiter est à votre discrétion ainsi que les
                    traitements à faire.
                    <br> <br>
                    Pour réaliser ce projet, vous devrez utiliser GitLab pour stocker vos scripts, code et document à
                    rendre.
                </p>
                <h2>SAE 23</h2>
                <h3>Contexte</h3>
                <p class="attention-getter">
                    Poursuivre sur le projet portfolio déjà commencé lors de la première SAE. Votre tâche consiste à
                    dynamiser votre site portfolio en utilisant le framework Flask. Le site web doit interagir avec une
                    base de données pour sauvegarder et afficher vos compétences acquises.
                </p>
                <p class="attention-getter">
                    Le projet doit être réalisé individuellement.
                    Vous devez utiliser le système de templates de Flask pour organiser et nettoyer votre code.
                    Vous devez reprendre votre site portfolio et le rendre dynamique à l'aide du framework Flask.
                    Le site doit interagir avec une base de données (MySQL ou PostgreSQL)
                </p>
                <h2 class="text-display-title">SAE 24</h2>
            </div>
            <h3>Contexte</h3>
            <p class="attention-getter">
                Votre entreprise prospère et est constituée de plusieurs services (production, IT et centraux).
                Votre service a
                la charge de la migration informatique (et sera un service à part entière : IT). Ainsi, votre
                service doit redéployer la totalité de l'informatique de l'entreprise, à la fois les postes clients,
                la téléphonie mais aussi les serveurs. Une connexion Internet est présente, mais vous devez
                sécuriser les connexions, les échanges, les partages d'informations.
            </p>

            <h3>Mission</h3>
            <p class="attention-getter">Voici les tâches à réaliser :</p>
            <ol class="attention-getter">
                <li>Construire un nouveau plan de l'infrastructure complète faisant apparaître les différents services
                    et les différents flux intérieurs et extérieurs. Vous penserez à utiliser les matériels et les
                    équipements qui permettent une évolution simple et rapide de votre infrastructure (ajout de postes,
                    par exemple). Vous ferez apparaître noms, adresses et tout élément utile à la compréhension de votre
                    plan. Pour des raisons de sécurité, l’ensemble du trafic réseau sort en un seul point. Vous penserez
                    aux accès publics depuis l’extérieur (par exemple vers votre serveur Web).</li>
                <br>
                <li>Proposer une liste précise des tâches à effectuer en indiquant la chronologie afin de respecter les
                    délais.</li>
                <br>
                <li>Assurer la configuration des équipements réseaux (switchs, routeurs) qui permettent d'interconnecter
                    l'ensemble des machines (serveurs, clients, portables, téléphones IP, caméra IP…) en ayant une
                    agrégation de liens vers le routeur principal pour augmenter les capacités réseaux. Votre entreprise
                    est connectée au réseau de la pépinière qui offre un accès Internet, un réseau LoRa et un serveur de
                    téléphonie, mais possède ses propres équipements à configurer pour connecter les serveurs et les
                    machines clients sur le réseau local. Vous penserez à utiliser une dénomination et une numérotation
                    logiques pour prévoir toute évolution future de votre entreprise. Les utilisateurs ne connaîtront
                    que le nom des équipements qu'il faut joindre (serveur Web, proxy, DNS, domaine…). Vous penserez à
                    rediriger le trafic Web en provenance de l’extérieur vers votre serveur. Des caméras IP sont
                    positionnées à l’entrée et à l’intérieur de votre entreprise. Une page réservée aux administrateurs
                    accessible uniquement en interne permettra de visualiser les flux vidéo des caméras et la courbe de
                    température issue de votre capteur du local serveur.</li>
                <br>
                <li>Procéder à l'installation des serveurs et des clients. Votre entreprise possède un parc hétérogène
                    avec les 3 systèmes d'exploitation (Linux, Windows et MacOS). Vous configurerez au minimum 4
                    machines clientes connectées au réseau dotées des différents systèmes (Windows, Mac OS et Ubuntu
                    uniquement pour l’administrateur). Au minimum 4 utilisateurs du domaine seront créés. Vous définirez
                    un environnement par défaut pour chaque session sur les clients, vous proposerez des lecteurs
                    réseaux pour partager des documents entre les utilisateurs en montant des espaces disques partagés
                    sur les différents serveurs. Les services production et centraux auront leur propre espace alors que
                    le service IT peut accéder à l'ensemble des espaces partagés. Des droits seront donc définis en
                    fonction des utilisateurs des différents services (notamment les administrateurs du service IT).
                </li>
                <br>
                <li>Mettre en place les services sous forme de docker pour le service TFTP, le serveur de base de
                    données ainsi que le service Web. Le serveur TFTP recevra les fichiers de configuration des
                    équipements réseaux. La base de données stockera a minima les produits que votre entreprise vend. Le
                    site Web de votre entreprise contiendra quelques pages dynamiques (la liste des produits ou des
                    services vendus par votre entreprise, par exemple). Toutes les pages devront obligatoirement être en
                    anglais ET en français et ajouteront un bandeau de diffusion d’informations relié par un flux RSS
                    aux informations de votre entreprise. Vous développerez un script d’administration pour la gestion
                    des containers.</li>
                <br>
                <li>Après avoir migré la téléphonie sur le tout IP, vous proposerez une solution pour rendre prioritaire
                    ce trafic.</li>
                <br>
                <li>À l’aide d’une sonde de température connectée au réseau LoRa de la pépinière, vous visualiserez sur
                    votre intranet l’évolution de la température de votre sonde en utilisant le protocole MQTT
                    disponible sur la passerelle.</li>
                <br>
                <li>Afin de vérifier la portée de votre objet connecté, vous analyserez le réseau LoRa de la pépinière.
                    Une étude mathématique vous sera demandée pour prouver votre diagnostic.</li>
                <br>
                <li>L’analyse du flux vidéo issu des caméras permet par exemple de reconnaître un badge associé à un
                    collaborateur. Vous réaliserez un script mettant en œuvre une reconnaissance automatique et qui
                    enregistre les entrées-sorties (date, heure, nom, prénom par exemple). Vous pourrez vous aider des
                    bibliothèques existantes comme OpenCV.</li>
                <br>
                <li>Le routeur de la pépinière n’est pas sécurisé (oups) et il est possible d’y intercepter les
                    communications des autres entreprises. À partir d’une capture de trames issue de ce routeur (aide
                    sur le wiki de iut-rt), créez un script Python pour écouter une conversation téléphonique.</li>
                <br>
                <li>À l'aide de la bibliothèque Scapy, vous mettrez en œuvre une attaque de VLAN hopping (switch
                    spoofing et double tagging) sur votre propre infrastructure, puis vous déploierez les contre-mesures
                    associées.</li>
            </ol>
            <div class="section-header" data-num="01">
                <h2 class="text-display-title">SAE 25</h2>
            </div>

            <h3>Contexte</h3>
            <p class="attention-getter">
                Vous devez crée une page web pour présenter votre portfolio.
                Cette page web doit contenir les informations suivantes :
            </p>
            <ul>
                <li>Votre nom et prénom</li>
                <li>Votre photo</li>
                <li>Une description de vous-même</li>
                <li>Vos compétences</li>
                <li>Vos expériences professionnelles</li>
                <li>Vos formations</li>
                <li>Vos centres d’intérêts</li>
            </ul>

        </div> <!--end column -->
        </div> <!--end s-about__content -->

    </section> <!-- end s-about -->