<!DOCTYPE html>
<html lang="fr" class="no-js">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mathéo Crepieux</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/css/vendor.css">
    <link rel="stylesheet" href="../../static/css/styles.css">



</head>

<body>
    <section id="prog2" class="s-about target-section">

        <div class="row s-about__content">
            <div class="column xl-12">

                <div class="section-header" data-num="01">
                    <h1 class="text-display-title">Programmer - Niveau 1</h1>
                </div> <!-- end section-header -->
                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">SAE 32</h2>
                </div> <!-- end section-header -->

                <h3>Mission</h3>
                <p class="attention-getter">
                    Un serveur offre des services de recherche de la présence de mots donnés par des clients dans des
                    documents texte (txt), HTML, PDF et Excel (xslx). Le serveur affiche des informations
                    supplémentaires utiles relatives à ces recherches, par exemple : ligne(s) où le mot a été trouvé,
                    textes autour, etc.
                </p>

                <h3>Consigne</h3>
                <p class="attention-getter">
                    Commentaires et noms de variables seront écrits en anglais
                    Un code clair, homogène, simple est attendu. Les programmes sont découpés en fonctions simples. La
                    qualité de votre code est très importante pour l'évaluation. Lire cette synthèse PEP 8 – Style Guide
                    for Python Code pour écrire votre code en la respectant.
                    Ne mettez pas de valeurs constantes (par exemple 12) dans votre code, utilisez des constantes,
                    c'est-à-dire des "variables" dont le nom est écrit en majuscule et dont vous n'allez pas changer les
                    valeurs, par exemple MAX_NB_QUESTIONS = 12, cela permet également de voir à quoi correspondait ce
                    12).
                    Attention à mettre des chemins relatifs, pas absolus. Exemple : PATH_XLS = "excel"
                    Vous créerez un projet gitlab an ajoutant en tant que developer l'enseignant David Mercier sous le
                    gitlab de l'université d'Artois.
                    Mettez une docstring à vos fonctions. Exemple :
                    def add(a, b):
                    """ Return the sum of two arguments """
                    return a + b
                    Votre projet contiendra un fichier readme.md écrit en anglais (aide : deepl, reverso, etc.)
                    décrivant ce que fait votre projet et comment l'utiliser (un exemple de projet) avec les dépendances
                    (fichier requirements.txt) (une doc pour requirements.txt). Le fichier readme.md indique
                    principalement comment utiliser votre application.

                </p>
                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">SAE 41</h2>
                </div> <!-- end section-header -->

                <h3>Mission</h3>
                <p class="attention-getter">
                    Réalisez en quadrinôme (groupe de 4) une maquette packettracer du réseau suivant correspondant au
                    réseau d'une entreprise située sur deux sites distants :
                </p>

                <h3>Consigne</h3>
                <p class="attention-getter">
                    Trois réseaux séparés dans la partie LAN de chaque site : Service / Production / Admin. Chaque
                    réseau Admin peut accéder à tous les autres réseaux y compris ceux de l'autre site.
                    <br><br> Les réseaux Service et Production ne peuvent pas accéder aux autres réseaux y compris ceux de l'autre site.
                    <br><br>
                    Vous rédigerez un Write Up (WU) complet très précis des configurations (en mode texte pas de capture
                    image).
                    <br><br>
                     Write up et maquette packettracer seront à déposer en fin de SAÉ. Il y aura une évaluation
                    orale et écrite.
                    <br><br>
                    Le Tunnel sera un tunnel sécurisé IPSEC GRE (précisez tous les détails dans votre WU)
                    Tous les membres du groupe doivent avoir travaillé sur ce réseau et ses équipements.
                    <br><br>
                    Ensuite chaque membre se spécialisera et étudiera 1 des 4 points suivants (à détailler dans votre
                    WU) et mettra en place une maquette de démonstration :
                    <br><br>
                    <ol>
                        <li>Sécurisation DNS avec DNSSEC</li>
                        <li>Sécurisation WEB</li>
                        <li>Tests de sécurité</li>
                        <li>Recommandations ANSSI : Checklist des mesures retenues (fichier excel ci-dessous), exclues ou non applicables</li>
                    </ol>

                </p>
                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">Stage</h2>
                </div>
                <p>L'objectif est de preparer la soutenance et le rapport de stage </p>
                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">Portfolio</h2>
                </div>
                <h3>Contexte</h3>
                <p class="attention-getter">
                    Vous devez crée une page web pour présenter votre portfolio.
                    Cette page web doit contenir les informations suivantes :
                </p>
                <ul>
                    <li>Votre nom et prénom</li>
                    <li>Votre photo</li>
                    <li>Une description de vous-même</li>
                    <li>Vos compétences</li>
                    <li>Vos expériences professionnelles</li>
                    <li>Vos formations</li>
                    <li>Vos centres d’intérêts</li>
                </ul>


            </div> <!--end column -->
        </div> <!--end s-about__content -->

    </section> <!-- end s-about -->