<!DOCTYPE html>
<html lang="fr" class="no-js">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mathéo Crepieux</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/css/vendor.css">
    <link rel="stylesheet" href="../../static/css/styles.css">



</head>

<body>
    <section id="Admin1" class="s-about target-section">

        <div class="row s-about__content">
            <div class="column xl-12">

                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">SAE 21 et 24</h2>
                </div> <!-- end section-header -->

                <h3>Contexte</h3>
                <p class="attention-getter">
                    Vous êtes Responsable de la Sécurité des Systèmes d’Information (RSSI) d’une entreprise et à ce
                    titre,
                    vous devez sensibiliser tout le personnel au risque numérique,
                    afin de minimiser le risque qu’une négligence d’un employé ne favorise la réalisation d’une
                    cyberattaque,
                    qui pourrait avoir de nombreuses conséquences néfastes pour l’entreprise :
                    dégradation de l’image de l’entreprise, perte d’argent et/ou de clients, interruption de l’activité,
                    etc.
                </p>

                <h3>Mission</h3>
                <p class="attention-getter">
                    Vous devez réaliser en groupe de 4 un diaporama (~5 diapositives) qui présente les 4 bonnes
                    pratiques qui vous semblent les plus importantes. Pour chacune d’elles, vous devez présenter le
                    risque encouru, et la contre-mesure qui permet de minimiser ce risque.

                </p>

                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">SAE 25</h2>
                </div>

                <h3>Contexte</h3>
                <p class="attention-getter">
                    Vous  devez crée une page web pour présenter votre portfolio.
                    Cette page web doit contenir les informations suivantes :
                    <ul>
                        <li>Votre nom et prénom</li>
                        <li>Votre photo</li>
                        <li>Une description de vous-même</li>
                        <li>Vos compétences</li>
                        <li>Vos expériences professionnelles</li>
                        <li>Vos formations</li>
                        <li>Vos centres d’intérêts</li>
                </p>

            </div> <!--end column -->
        </div> <!--end s-about__content -->

    </section> <!-- end s-about -->