<!DOCTYPE html>
<html lang="fr" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mathéo Crepieux</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/css/vendor.css">
    <link rel="stylesheet" href="/static/css/styles.css">



</head>

<body>
           <section id="SAE11" class="s-about target-section">

            <div class="row s-about__content">
                <div class="column xl-12">    
                    
                    <div class="section-header" data-num="01">
                        <h2 class="text-display-title">SAE 11</h2>
                    </div> <!-- end section-header -->
                    
                    <h3>Travail effectuer</h3>
                    <p class="attention-getter">
                        j'ai effectuer un diaporama qui resumé deux certfication qui porté sur l'hygiene informatique 
                        dans le but de se Sensibiliser sur les bon fait et geste dans l'informatique 
                    </p>
                    <h3>Mon parcours</h3>
                    <p class="attention-getter">
                       blavbkaue)
                        étant le meilleur de ma promotion, je suis parti en BUT R&T (Réseau et télécom) 
                        pour pousser mes étude. Grace a mon Bac Professionnel,
                        j'ai effectué plusieurs stage dont :<BR>
                    <strong>1  mois</strong> à BM-Tech en tant que technicien réseau. <br>
                    <strong>3 stages de 5 semaines</strong> a l'Hôpital de Riaumont en tant que technicien informatique.      
                    </p>
                </div> <!--end column -->
            </div> <!--end s-about__content -->
            
        </section> <!-- end s-about -->   
