<!DOCTYPE html>
<html lang="fr" class="no-js">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mathéo Crepieux</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/css/vendor.css">
    <link rel="stylesheet" href="../../static/css/styles.css">



</head>

<body>
    <section id="surv1" class="s-about target-section">

        <div class="row s-about__content">
            <div class="column xl-12">

                <div class="section-header" data-num="01">
                    <h1 class="text-display-title">Programmer - Niveau 1</h1>
                </div> <!-- end section-header -->
                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">SAE 41</h2>
                </div> <!-- end section-header -->

                <h3>Mission</h3>
                <p class="attention-getter">
                    Réalisez en quadrinôme (groupe de 4) une maquette packettracer du réseau suivant correspondant au
                    réseau d'une entreprise située sur deux sites distants :
                </p>

                <h3>Consigne</h3>
                <p class="attention-getter">
                    Trois réseaux séparés dans la partie LAN de chaque site : Service / Production / Admin. Chaque
                    réseau Admin peut accéder à tous les autres réseaux y compris ceux de l'autre site.
                    <br><br> Les réseaux Service et Production ne peuvent pas accéder aux autres réseaux y compris ceux de l'autre site.
                    <br><br>
                    Vous rédigerez un Write Up (WU) complet très précis des configurations (en mode texte pas de capture
                    image).
                    <br><br>
                     Write up et maquette packettracer seront à déposer en fin de SAÉ. Il y aura une évaluation
                    orale et écrite.
                    <br><br>
                    Le Tunnel sera un tunnel sécurisé IPSEC GRE (précisez tous les détails dans votre WU)
                    Tous les membres du groupe doivent avoir travaillé sur ce réseau et ses équipements.
                    <br><br>
                    Ensuite chaque membre se spécialisera et étudiera 1 des 4 points suivants (à détailler dans votre
                    WU) et mettra en place une maquette de démonstration :
                    <br><br>
                    <ol>
                        <li>Sécurisation DNS avec DNSSEC</li>
                        <li>Sécurisation WEB</li>
                        <li>Tests de sécurité</li>
                        <li>Recommandations ANSSI : Checklist des mesures retenues (fichier excel ci-dessous), exclues ou non applicables</li>
                    </ol>

                </p>
                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">Stage</h2>
                </div>
                <p>L'objectif est de preparer la soutenance et le rapport de stage </p>
                <div class="section-header" data-num="01">
                    <h2 class="text-display-title">Portfolio</h2>
                </div>
                <h3>Contexte</h3>
                <p class="attention-getter">
                    Vous devez crée une page web pour présenter votre portfolio.
                    Cette page web doit contenir les informations suivantes :
                </p>
                <ul>
                    <li>Votre nom et prénom</li>
                    <li>Votre photo</li>
                    <li>Une description de vous-même</li>
                    <li>Vos compétences</li>
                    <li>Vos expériences professionnelles</li>
                    <li>Vos formations</li>
                    <li>Vos centres d’intérêts</li>
                </ul>


            </div> <!--end column -->
        </div> <!--end s-about__content -->

    </section> <!-- end s-about -->